svg {
  vertical-align: baseline;
}
.h-100vh {
  height: 100vh;
}
.bg-white {
  background-color: #fff;
}
.bg-color-primary {
  background-color: #f4f4f4;
}
.p-0 {
  padding: 0;
}
.p-bottom-0 {
  padding-bottom: 0;
}
.mb-12 {
  margin-bottom: 12px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
